.slide {
    margin-top: 60px;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: white;
    
}
.slide img {
    height: 100vh;
    ;
}


.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    padding: 10px;
    width: 60%;
    text-align: center;
    background-color: blue transparent;
    color: white;
    margin: auto;
    
}
.logo h1 {
    margin-top: 20px;
    font-family: 'Black Han Sans', sans-serif;
}

.cont_sec_1 {
    padding: 10%;
    margin-top: 5%;
}

.cont_navbar {
    background-color: rgba(255,255,255, 0.7) !important;
}

.cont_navbar div, .cont_navbar ul{
    background-color: transparent ;
}

.cont_footer {
    background-color: grey;
    padding: 5%;
    color: white;
    margin-top: 100px;
    display: ;
}
.cont_footer a {
    color: white;
    display: block;
    text-decoration: none;
}
.cont_footer img {
    padding:5%;
}

.v-line {
    background-color: aqua;
}

table td {
    border:0.5px solid;
    border-collapse: collapse;
    padding: 10px;
}